/* Flux CSS (Livewire) */
@import '../../vendor/livewire/flux/dist/flux.css';

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ici tu peux ajouter ton CSS perso valide */
body {
  font-family: 'Instrument Sans', sans-serif;
}

/* exemple pour le dark mode */
.dark {
  background-color: #171717;
  color: #fafafa;
}
